/************************************************************
 * Copyright (c) 2017 Austin Vern Songer																										*
 ************************************************************/

.wpabstracts .pdf {
    width:100%;
    height: 100%;
    background:#fbfbfb;
    margin:0;
    padding:0;
    color:#222;
    background:#FFFFFF;
}

.wpabstracts .pdf_header{
    height: 75px;
    padding: 4px 16px ;
}
.wpabstracts .pdf_headerbar{
    text-align: right;
    width: 100%;
    padding: 7px 16px;
    font-style: italic;
    background: #eee;
    font-size: small;
    border-radius: 4px;
}

.wpabstracts .pdf_author{
    font-size: 14px;
    font-style: italic;
}

.wpabstracts .pdf_content {
    float:left;
    width:65%;
    padding: 10px;
    display: inline-block;
}

.wpabstracts .pdf_text{
    text-align: justify;
}

.wpabstracts .pdf_reviews{
    background: #eee;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;;
}
.wpabstracts .pdf_comments{
    width: 65%;
    float: left;
}
.wpabstracts .pdf_scores{
    width: 30%;
    padding-left: 10px;
    float: right;
}

.wpabstracts .pdf_sidebar {
    float:right;
    width:28%;
    padding: 10px;
}

.wpabstracts .affiliations{
    font-size: 11px;
}

